
$default-color: black;
$default-text-color: white;
$default-padding: 10px;
$padding-one: 20px;
$padding-two: 30px;
$padding-three: 40px;
$max-width: 1100px;
$header-height: 60px;
$primary-color:  rgb(211, 145, 58);
$nav-color: rgb(27,28,33);