*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

@font-face {
    font-family: poppins;
    src: url("../../../assets/fonts/Poppins-Regular.ttf");
}

$default-color: black;
$default-padding: 10px;
$padding-one: 20px;
$max-width: 1100px;
$header-height: 60px;
$primary-color:  rgb(211, 145, 58);;

html{
    font-size: 12px;
}

body{
    font-family: poppins;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-inline: 10vw;
    background: url("../images/grey_background.jpg") no-repeat;
    background-size: cover;

    a{
        text-decoration: none;
        color: $primary-color;
    }

    button{
        cursor: pointer;
        padding: 5px 10px;
    }

    img{
        width: 100%;
    }


    .main-body{
        width: 100%;
        max-width: $max-width;
        height: 100vh;
        max-height: 657px;
        backdrop-filter: blur(15px);
        background: rgba(255, 255, 255, .6);
        // background-color: red;
        display: flex;

        .nav-side{
            width: 25%;
            min-width: 250px;
            // border-right: 1px solid black;
            background: rgb(27,28,33);
            height: 100%;
        }

        .main-side{
            width: 75%;
            height: 100%;

            header{
                height: $header-height;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: $default-padding $padding-one;

                .welcome-message{
                    font-weight: bold;
                    display: flex;
                    align-items: center;

                    .message{
                        color: rgba(0, 0, 0, .7);
                        margin-right: 10px;
                    }

                    .profile-details{
                        display: flex;
                        align-items: center;

                        .image{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
                            margin-right: 8px;
                            overflow: hidden;
                            background: white;
                        }
                    }

                }

                .header-icon{

                    .link-btn{
                        display: flex;
                        align-items: center;
                        list-style: none;

                        li{

                            button{
                                background: transparent;
                                border: none;
                                font-size: 1.3rem;
                            }
                        }

                        li:not(:first-child){
                            margin-left: 8px;
                        }
                    }
                }

            }

            .main-side-content{
                height: calc(100% - $header-height);
                padding: $padding-one;
            }
        }

    }
}
