* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: poppins;
  src: url("../../../assets/fonts/Poppins-Regular.ttf");
}
html {
  font-size: 12px;
}

body {
  font-family: poppins;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../images/white_background.jpg") no-repeat;
  background-size: cover;
}
body a {
  text-decoration: none;
  color: rgb(211, 145, 58);
}
body button {
  cursor: pointer;
  padding: 5px 10px;
}
body img {
  width: 100%;
}
body .main-body {
  width: 100%;
  max-width: 1100px;
  height: 100vh;
  max-height: 657px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.7);
  display: flex;
}
body .main-body .nav-side {
  width: 25%;
  min-width: 250px;
  background: rgb(27, 28, 33);
  height: 100%;
  color: white;
  overflow-y: scroll;
  scrollbar-color: white;
  scrollbar-width: thin;
  scrollbar-track-color: rgba(255, 255, 255, 0.2);
  transition: 0.5s ease all;
  overflow: hidden;
}
body .main-body .nav-side nav {
  padding: 40px 0px;
  width: 100;
  height: 100%;
  display: block;
}
body .main-body .nav-side nav .nav-header {
  display: flex;
  position: relative;
  padding: 0px 30px;
}
body .main-body .nav-side nav .nav-header .logo {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  padding: 0px 20px;
}
body .main-body .nav-side nav .nav-header .adjust-nav-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 10px 5px;
  color: rgba(255, 255, 255, 0.7);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
body .main-body .nav-side nav .nav-header .adjust-nav-btn .close-icon {
  display: none;
}
body .main-body .nav-side nav .nav-profile {
  width: 100%;
  padding: 30px;
}
body .main-body .nav-side nav .nav-profile .profile-details {
  width: 100%;
  display: flex;
  border-radius: 18px;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
body .main-body .nav-side nav .nav-profile .profile-details .profile-details-image {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  padding: 4px;
  border-radius: 10px;
  margin-right: 10px;
}
body .main-body .nav-side nav .nav-profile .profile-details .profile-details-image .image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
body .main-body .nav-side nav .nav-profile .profile-details .profile-details-text .name {
  font-weight: bold;
}
body .main-body .nav-side nav .nav-profile .profile-details .profile-details-text .time {
  color: rgba(255, 255, 255, 0.6);
}
body .main-body .nav-side nav .nav-link {
  padding: 30px;
}
body .main-body .nav-side nav .nav-link ul {
  list-style: none;
}
body .main-body .nav-side nav .nav-link ul li {
  display: block;
}
body .main-body .nav-side nav .nav-link ul li a {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}
body .main-body .nav-side nav .nav-link ul li a .icon {
  margin-right: 10px;
}
body .main-body .nav-side nav .nav-link ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
body .main-body .nav-side nav .nav-link ul .link {
  width: 100%;
}
body .main-body .nav-side nav .nav-link ul .link .link-container a {
  padding: 15px;
  display: block;
  border-radius: 10px;
}
body .main-body .nav-side nav .nav-link ul .link .link-container a .link-icon .close-icon {
  display: none;
}
body .main-body .nav-side nav .nav-link ul .link .link-container .dropdown-btn {
  display: flex;
  justify-content: space-between;
}
body .main-body .nav-side nav .nav-link ul .link .dropdown-container {
  margin-top: 10px;
  height: 0px;
  overflow: hidden;
  transition: 0.5s ease all;
}
body .main-body .nav-side nav .nav-link ul .link .dropdown-container li {
  position: relative;
  padding-left: 20px;
}
body .main-body .nav-side nav .nav-link ul .link .dropdown-container li a {
  display: block;
  position: relative;
  padding: 17px 10px;
  margin-left: 20px;
  z-index: 9;
  background: rgb(27, 28, 33);
  color: rgba(255, 255, 255, 0.7);
}
body .main-body .nav-side nav .nav-link ul .link .dropdown-container li::before {
  width: 30%;
  height: 100%;
  position: absolute;
  content: "";
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 18px;
  top: -50%;
}
body .main-body .nav-side nav .nav-link ul .link .dropdown-container li:first-child::before {
  height: 65%;
  top: -10px;
}
body .main-body .nav-side nav .nav-link ul .link .dropdown-container li:not(:first-child)::before {
  height: 128%;
  top: -81%;
}
body .main-body .nav-side nav .nav-link ul .link:not(:first-child) {
  margin-top: 15px;
}
body .main-body .nav-side nav .nav-link ul .background-link .link-container a {
  background: rgb(211, 145, 58);
}
body .main-body .shrinked nav .nav-header {
  padding: 0px 10px;
}
body .main-body .shrinked nav .nav-header .logo {
  width: 30px;
  height: 30px;
}
body .main-body .shrinked nav .nav-header .adjust-nav-btn {
  background: rgba(255, 255, 255, 0.2);
}
body .main-body .shrinked nav .nav-header .adjust-nav-btn .open-icon {
  display: none;
}
body .main-body .shrinked nav .nav-header .adjust-nav-btn .close-icon {
  display: block;
}
body .main-body .shrinked nav .nav-profile {
  padding: 30px 10px;
}
body .main-body .shrinked nav .nav-profile .profile-details {
  padding: 5px 0px;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
body .main-body .shrinked nav .nav-profile .profile-details .profile-details-image {
  width: 30px;
  height: 30px;
  padding: 0px;
  margin-right: 0px;
}
body .main-body .shrinked nav .nav-profile .profile-details .profile-details-text {
  display: none;
}
body .main-body .shrinked nav .nav-profile .profile-details .profile-details-text .name {
  font-size: 0.87rem;
}
body .main-body .shrinked nav .nav-link {
  padding: 30px 10px;
}
body .main-body .shrinked nav .nav-link ul li a .icon {
  margin-right: 0px;
  font-size: 1.2rem;
}
body .main-body .shrinked nav .nav-link ul li a .text {
  display: none;
}
body .main-body .shrinked nav .nav-link ul li a .link-icon {
  display: none;
}
body .main-body .shrinked nav .nav-link ul .link .link-container a {
  padding: 0px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-body .shrinked nav .nav-link ul .link .link-container .dropdown-btn {
  justify-content: center;
}
body .main-body .shrinked nav .nav-link ul link:not(:first-child) {
  margin-top: 10px;
}
body .main-body .nav-side::-webkit-scrollbar {
  width: 1px;
}
body .main-body .nav-side:hover::-webkit-scrollbar {
  width: 5px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body .main-body .nav-side::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
body .main-body .nav-side::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
body .main-body .main-side {
  width: 75%;
  height: 100%;
  transition: 0.5s ease all;
  position: relative;
}
body .main-body .main-side header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
body .main-body .main-side header .welcome-message {
  font-weight: bold;
  display: flex;
  align-items: center;
}
body .main-body .main-side header .welcome-message .open-menu-btn {
  background: transparent;
  font-size: 1.5rem;
  padding: 0px;
  border: none;
  margin-right: 30px;
  display: none;
}
body .main-body .main-side header .welcome-message .message {
  color: rgba(0, 0, 0, 0.7);
  margin-right: 10px;
}
body .main-body .main-side header .welcome-message .profile-details {
  display: flex;
  align-items: center;
}
body .main-body .main-side header .welcome-message .profile-details .image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-right: 8px;
  overflow: hidden;
  background: white;
}
body .main-body .main-side header .header-icon .link-btn {
  display: flex;
  align-items: center;
  list-style: none;
}
body .main-body .main-side header .header-icon .link-btn li button {
  background: transparent;
  border: none;
  font-size: 1.3rem;
}
body .main-body .main-side header .header-icon .link-btn li .colored {
  color: rgb(211, 145, 58);
}
body .main-body .main-side header .header-icon .link-btn li:not(:first-child) {
  margin-left: 8px;
}
body .main-body .main-side .mobile-nav-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  opacity: 0;
  transition: 0.5s ease all;
  z-index: 999;
}
body .main-body .main-side .mobile-nav-container .mobile-nav {
  width: 100%;
  height: 100%;
  background: rgb(27, 28, 33);
  max-width: 350px;
  position: absolute;
  padding: 30px 0px;
  transition: 1s ease all;
  top: 0px;
  left: -350px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-header {
  display: flex;
  position: relative;
  padding: 0px 30px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-header .logo {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  padding: 0px 20px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-header .close-mobile-nav-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 10px 5px;
  color: rgba(255, 255, 255, 0.7);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-header .close-mobile-nav-btn .close-icon {
  display: none;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-profile {
  width: 100%;
  padding: 30px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-profile .profile-details {
  width: 100%;
  display: flex;
  border-radius: 18px;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-profile .profile-details .profile-details-image {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  padding: 4px;
  border-radius: 10px;
  margin-right: 10px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-profile .profile-details .profile-details-image .image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-profile .profile-details .profile-details-text .name {
  font-weight: bold;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-profile .profile-details .profile-details-text .time {
  color: rgba(255, 255, 255, 0.6);
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link {
  padding: 30px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul {
  list-style: none;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul li {
  display: block;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul li a {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul li a .icon {
  margin-right: 10px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul .link {
  width: 100%;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul .link .link-container a {
  padding: 15px;
  display: block;
  border-radius: 10px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul .link .link-container a .link-icon .close-icon {
  display: none;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul .link .link-container .dropdown-btn {
  display: flex;
  justify-content: space-between;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul .link .dropdown-container {
  margin-top: 10px;
  height: 0px;
  overflow: hidden;
  transition: 0.5s ease all;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul .link .dropdown-container li {
  position: relative;
  padding-left: 20px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul .link .dropdown-container li a {
  display: block;
  position: relative;
  padding: 17px 10px;
  margin-left: 20px;
  z-index: 9;
  background: rgb(27, 28, 33);
  color: rgba(255, 255, 255, 0.7);
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul .link .dropdown-container li::before {
  width: 30%;
  height: 100%;
  position: absolute;
  content: "";
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 18px;
  top: -50%;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul .link .dropdown-container li:first-child::before {
  height: 65%;
  top: -10px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul .link .dropdown-container li:not(:first-child)::before {
  height: 128%;
  top: -81%;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul .link:not(:first-child) {
  margin-top: 15px;
}
body .main-body .main-side .mobile-nav-container .mobile-nav .nav-link ul .background-link .link-container a {
  background: rgb(211, 145, 58);
}
body .main-body .main-side .main-side-container {
  height: calc(100% - 60px);
  padding: 20px;
  overflow-y: scroll;
  scrollbar-color: white;
  scrollbar-width: thin;
  scrollbar-track-color: rgba(255, 255, 255, 0.2);
}
body .main-body .main-side .main-side-container::-webkit-scrollbar {
  width: 1px;
}
body .main-body .main-side .main-side-container:hover::-webkit-scrollbar {
  width: 5px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
body .main-body .main-side .main-side-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
body .main-body .main-side .main-side-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 1000px) {
  body .main-body .nav-side {
    display: none;
  }
  body .main-body .main-side {
    width: 100%;
  }
  body .main-body .main-side header .welcome-message .open-menu-btn {
    display: block;
  }
  body .main-body .main-side .mobile-nav-container {
    display: none;
    opacity: 0;
  }
}
@media only screen and (max-width: 520px) {
  body .main-body {
    max-height: 100vh;
    min-height: 100vh;
  }
  body .main-body .main-side header .welcome-message .message {
    display: none;
  }
}/*# sourceMappingURL=general.css.map */