
$default-color: black;
$default-text-color: white;
$default-padding: 10px;
$padding-one: 20px;
$padding-two: 30px;
$padding-three: 40px;
$max-width: 1100px;
$header-height: 60px;
$primary-color:  rgb(211, 145, 58);
$nav-color: rgb(27,28,33);

.main-side-content{
    width: 100%;
    display: flex;
    justify-content: space-between;

    h1{
        font-size: 1.5rem;
    }

    .last-update{
        font-size: 0.85rem;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, .7);

        .update-dot{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: darkgreen;
            margin-right: 4px;

        }
    }

    .empty{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        position: relative;

        .empty-image{
            // border: 1px solid red;
            width: 100%;
            max-width: 200px;
        }

        .empty-text{
            color: rgba(0, 0, 0, .6);
            font-size: 0.8rem;
            bottom: 0px;
            position: absolute;
            text-align: center;

        }

    }

    .contents{
        width: 45%;
    }

    .balance-card{
        // border: 1px solid red;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;

        .balance-title,
        .balance,
        .balance-actions{
            margin-top: 15px;
        }


        .balance-title{
            font-size: 0.9rem;
            color: rgba(0, 0, 0, .7);
        }

        .balance{
            font-size: 3rem;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            .currency-icon{
                font-size: 1.8rem;
            }

            .currency-icon{
                color: $primary-color;
            }
        }

        .balance-actions{
            display: flex;

            button{
                background: #e6e6e6;
                border: 2px solid #e6e6e6;
                padding: 10px 25px;
                border-radius: 10px;
            }

            .add-button{
                background: $default-color;
                border: 2px solid black;
                color: $default-text-color;
            }

            button:not(:first-child){
                margin-left: 10px;
            }
        }

    }

    .action-card{
        // border: 1px solid red;
        width: 50%;

        .action-content{
            display: flex;
            width: 100%;
            // border: 1px solid red;
            padding: 10px;
            // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
            border-radius: 5px;

            .action{
                display: flex;
                font-size: 0.85rem;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 7px;
                border: none;
                // background: #f0f0f0;

                .icon{
                    margin-bottom: 5px;
                    font-size: 1.5rem;
                }

                .history-image{
                    padding: 4px;
                    width: 50px;
                    height: 50px;

                    .image{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }

                .history-text{
                    padding: 5px;
                }


            }

            .withdraw-action{
                color: green;
            }


            .bills-action{
                color: #33adff;
            }
            
            .food-action{
                color: #5cd65c;
            }

            .store-action{
                color: #b35900;
            }

            .action-link{
                min-width: 60px;
                // border-top-left-radius: 25px;
                // border-top-right-radius: 25px;
                background: #e6e6e6;
                color: rgba(0, 0, 0, .7);
            }

            .action-link:not(:first-child){
                margin-left: 10px;
            }
        }

        .transaction-action{
            justify-content: space-between;
        }

        .transaction-history{
            overflow-x: scroll;
            scrollbar-color: white;
            scrollbar-width: thin;
            scrollbar-track-color: rgba(255, 255, 255, .2);
        }

        .transaction-history::-webkit-scrollbar{
            height: 3px;
        }


        .transaction-history::-webkit-scrollbar-track{
            background: rgba(255, 255, 255, .1);
        }

        .transaction-history::-webkit-scrollbar-thumb{
            background: rgba(0, 0, 0, .15);
        }

        .action-content:not(:first-child){
            margin-top: 20px;
        }
    }

    .transaction-list{
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
        border-radius: 5px;
        font-size: 0.9rem;
        padding: 15px 0px;
        
        .transaction-list-header{
            padding: 0px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header-action-btn{
                display: flex;

                button{
                    background: #e6e6e6;
                    border: none;
                    font-size: 0.8rem;
                    border-radius: 3px;
                }

                button:not(:first-child){
                    margin-left: 15px;
                }
            }
        }

        .count{
            color: rgba(0, 0, 0, .7);
            margin-top: 10px;
            padding: 0px 15px;
            display: none;
        }

        .transaction-list-content{
            width: 100%;
        }

        .transaction-list-container{
            position: relative;
            display: flex;
            overflow: hidden;
            width: 100%;

            .transactions{
                min-width: 100%;
                width: 100%;
                transition: 1s ease all;
                // border: 1px solid red;
    
                .transaction-card{
                    display: flex;
                    padding: 15px;
                    align-items: center;
                    justify-content: space-between;
                    // border: 1px solid red;
    
                    .transaction-card-details{
                        display: flex;
                        align-items: center;
    
                        .transaction-card-image{
                            width: 30px;
                            height: 30px;
                            overflow: hidden;
                            border-radius: 3px;
                            margin-right: 20px;
                        }
        
                        .transaction-card-text{
        
                            h4{
                                font-weight: bold;
                                color: $default-color;
                            }
        
                            p{
                                color: rgba(0, 0, 0, .7);
                            }
                        }
                    }
    
                    .price-tag{
                        display: block;
                        padding: 3px 5px;
                        background: #e6e6e6;
                        border-radius: 2px;
                    }
    
                    .withdrawn{
                        background: rgba(255, 51, 51, .2);
                        color: rgb(204, 0, 0);
                    }
    
                    .received{
                        background: rgba(51, 255, 51, .2);
                        color: rgb(0, 190, 0);
                    }
    
                }
    
                .transaction-card:hover{
                    background: rgba(255, 255, 255, .8);
                    transition: 0.5s ease all;
    
                }
            }
        }

        .transaction-link{
            display: flex;
            padding: 0px 10px;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
        }

    }

    .transaction-notification{
        
        .notification-header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4{
                font-weight: 1.3rem;
                margin-right: 10px;
            }

            button{
                background: transparent;
                border: none;
                font-size: 0.9rem;
                padding: 0px;
                color: rgba(0, 0, 0, .7);
                margin-left: 5px;
                // display: none;
                background: #e6e6e6;
                padding: 3px 8px;
                border-radius: 3px;
            }

            button:not(:first-child){
                margin-left: 10px;
            }
        }

        .notification-list{

            .notification-stats{
                font-size: 0.9rem;
                color: rgba(0, 0, 0, .6);
                margin-top: 10px;
                display: none;
            }

            
            .notification-list-container{
                position: relative;
                display: flex;
                overflow: hidden;

                // border: 1px solid red;


                .notification-content{
                    transition: 1s ease all;
                    min-width: 100%;
                    // margin-right: 5px;
                    padding: 0px 5px;

                    .notification-card{
                        padding: 15px 10px;
                        display: flex;
                        align-items: center;
                        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1);
                        border-radius: 10px;
                        margin-top: 20px;
                        color: $default-color;
        
                        a{
                            font-weight: bold;
                            position: relative;
                        }
        
                        a::after{
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 2px;
                            background: $primary-color;
                            left: 0px;
                            bottom: -2px;
        
                        }
        
                        .notification-icon{
                            background: #e6e6e6;
                            width: 30px;
                            height: 30px;
                            border-radius: 5px;
                            margin-right: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.1rem;
                            color: rgba(0, 0, 0, .7);
                        }
        
                        .notification-card-details{
                            width: calc(100% - 45px);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            // border: 1px solid red;
                            font-size: 0.9rem;
        
                            .notification-message{

        
                                .time{
                                    font-size: 0.8rem;
                                    color: rgba(0, 0, 0, .7);
                                    margin-top: 8px;
                                }

                                .special-notif-message{
                                    margin-top: 5px;
                                    
                                }
        
                            }
        
                            .notification-transaction-details{
        
                                .status{
                                    font-size: 0.7rem;
                                }
        
                                .pending{
                                    color: rgb(204, 0, 0);
                                }
        
                                .ongoing{
                                    color: #b35900;
                                }
        
                                .completed{
                                    color: rgb(0, 190, 0);
                                }
        
                                .amount{
                                    font-weight: bold;
                                }
                            }

                            .notification-chart{
                                border-radius: 50%;
                                width: 40px;
                                height: 40px;
                                background: #e6e6e6;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-width: 5px;
                                border-color: #d9d9d9;
                                border-style: solid;


                                .chart-text{
                                    font-weight: bold;
                                    font-size: 0.9rem;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    justify-content: center;
                                    align-items: center;
                                    display: flex;
                                    background: rgba(255, 255, 255, .7);
                                    

                                }
                            }
                        }
                    }


                    .special-notification{
                        border-radius: 50px;

                        .notification-icon{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            color: #ff3333;
                        }

                        .notification-card-details{

                            .notification-message{

                                .message{
                                    font-weight: bold;

                                }
                            }
                        }

                    }
                }

            }

        }

        
    }
}

.main-side-content:not(:last-child){
    margin-bottom: 30px;
}

@media only screen and (max-width: 800px){

    .main-side-content{

        
        .action-card{
            width: 55%;
        }
    }
}

@media only screen and (max-width: 669px){

    .main-side-content{

        .balance-card{

            .balance-actions{

                button{
                    padding: 10px 15px;
                    font-size: 0.9rem;
                }
            }
        }
        
        
    }
}

@media only screen and (max-width: 520px){
    .main-side-content{

        flex-direction: column;
        justify-content: center;
        // border: 1px solid red;
        align-items: center;

        .contents{
            width: 100%;
        }

        .balance-card{
            // border: 1px solid red;
            // text-align: center;
            align-items: center;

            .balance-title{
                margin-top: 0px;
                font-weight: bold;
                font-size: 1rem;
                color: $default-color;
            }

            .balance{
                justify-content: center;
            }

            .balance-actions{
                justify-content: center;

            }

        }

        .action-card{
            margin-top: 20px;

            .action-content{
                width: 100%;
            }

            .transaction-history{
                margin-left: 0px;
            }
        }

        .transaction-notification{
            margin-top: 40px;

            .notification-list{

                // .special-noti
            }
        }
    }

    .d-mobile-none{
        display: none;
    }

    .main-side-content:not(:last-child){
        margin-bottom: 40px;   
    }
}