.main-side-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-side-content h1 {
  font-size: 1.5rem;
}
.main-side-content .last-update {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
}
.main-side-content .last-update .update-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: darkgreen;
  margin-right: 4px;
}
.main-side-content .empty {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}
.main-side-content .empty .empty-image {
  width: 100%;
  max-width: 200px;
}
.main-side-content .empty .empty-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  bottom: 0px;
  position: absolute;
  text-align: center;
}
.main-side-content .contents {
  width: 45%;
}
.main-side-content .balance-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.main-side-content .balance-card .balance-title,
.main-side-content .balance-card .balance,
.main-side-content .balance-card .balance-actions {
  margin-top: 15px;
}
.main-side-content .balance-card .balance-title {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
}
.main-side-content .balance-card .balance {
  font-size: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.main-side-content .balance-card .balance .currency-icon {
  font-size: 1.8rem;
}
.main-side-content .balance-card .balance .currency-icon {
  color: rgb(211, 145, 58);
}
.main-side-content .balance-card .balance-actions {
  display: flex;
}
.main-side-content .balance-card .balance-actions button {
  background: #e6e6e6;
  border: 2px solid #e6e6e6;
  padding: 10px 25px;
  border-radius: 10px;
}
.main-side-content .balance-card .balance-actions .add-button {
  background: black;
  border: 2px solid black;
  color: white;
}
.main-side-content .balance-card .balance-actions button:not(:first-child) {
  margin-left: 10px;
}
.main-side-content .action-card {
  width: 50%;
}
.main-side-content .action-card .action-content {
  display: flex;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.main-side-content .action-card .action-content .action {
  display: flex;
  font-size: 0.85rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: none;
}
.main-side-content .action-card .action-content .action .icon {
  margin-bottom: 5px;
  font-size: 1.5rem;
}
.main-side-content .action-card .action-content .action .history-image {
  padding: 4px;
  width: 50px;
  height: 50px;
}
.main-side-content .action-card .action-content .action .history-image .image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.main-side-content .action-card .action-content .action .history-text {
  padding: 5px;
}
.main-side-content .action-card .action-content .withdraw-action {
  color: green;
}
.main-side-content .action-card .action-content .bills-action {
  color: #33adff;
}
.main-side-content .action-card .action-content .food-action {
  color: #5cd65c;
}
.main-side-content .action-card .action-content .store-action {
  color: #b35900;
}
.main-side-content .action-card .action-content .action-link {
  min-width: 60px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.7);
}
.main-side-content .action-card .action-content .action-link:not(:first-child) {
  margin-left: 10px;
}
.main-side-content .action-card .transaction-action {
  justify-content: space-between;
}
.main-side-content .action-card .transaction-history {
  overflow-x: scroll;
  scrollbar-color: white;
  scrollbar-width: thin;
  scrollbar-track-color: rgba(255, 255, 255, 0.2);
}
.main-side-content .action-card .transaction-history::-webkit-scrollbar {
  height: 3px;
}
.main-side-content .action-card .transaction-history::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
.main-side-content .action-card .transaction-history::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}
.main-side-content .action-card .action-content:not(:first-child) {
  margin-top: 20px;
}
.main-side-content .transaction-list {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 15px 0px;
}
.main-side-content .transaction-list .transaction-list-header {
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-side-content .transaction-list .transaction-list-header .header-action-btn {
  display: flex;
}
.main-side-content .transaction-list .transaction-list-header .header-action-btn button {
  background: #e6e6e6;
  border: none;
  font-size: 0.8rem;
  border-radius: 3px;
}
.main-side-content .transaction-list .transaction-list-header .header-action-btn button:not(:first-child) {
  margin-left: 15px;
}
.main-side-content .transaction-list .count {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  padding: 0px 15px;
  display: none;
}
.main-side-content .transaction-list .transaction-list-content {
  width: 100%;
}
.main-side-content .transaction-list .transaction-list-container {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
}
.main-side-content .transaction-list .transaction-list-container .transactions {
  min-width: 100%;
  width: 100%;
  transition: 1s ease all;
}
.main-side-content .transaction-list .transaction-list-container .transactions .transaction-card {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}
.main-side-content .transaction-list .transaction-list-container .transactions .transaction-card .transaction-card-details {
  display: flex;
  align-items: center;
}
.main-side-content .transaction-list .transaction-list-container .transactions .transaction-card .transaction-card-details .transaction-card-image {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 3px;
  margin-right: 20px;
}
.main-side-content .transaction-list .transaction-list-container .transactions .transaction-card .transaction-card-details .transaction-card-text h4 {
  font-weight: bold;
  color: black;
}
.main-side-content .transaction-list .transaction-list-container .transactions .transaction-card .transaction-card-details .transaction-card-text p {
  color: rgba(0, 0, 0, 0.7);
}
.main-side-content .transaction-list .transaction-list-container .transactions .transaction-card .price-tag {
  display: block;
  padding: 3px 5px;
  background: #e6e6e6;
  border-radius: 2px;
}
.main-side-content .transaction-list .transaction-list-container .transactions .transaction-card .withdrawn {
  background: rgba(255, 51, 51, 0.2);
  color: rgb(204, 0, 0);
}
.main-side-content .transaction-list .transaction-list-container .transactions .transaction-card .received {
  background: rgba(51, 255, 51, 0.2);
  color: rgb(0, 190, 0);
}
.main-side-content .transaction-list .transaction-list-container .transactions .transaction-card:hover {
  background: rgba(255, 255, 255, 0.8);
  transition: 0.5s ease all;
}
.main-side-content .transaction-list .transaction-link {
  display: flex;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.main-side-content .transaction-notification .notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-side-content .transaction-notification .notification-header h4 {
  font-weight: 1.3rem;
  margin-right: 10px;
}
.main-side-content .transaction-notification .notification-header button {
  background: transparent;
  border: none;
  font-size: 0.9rem;
  padding: 0px;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 5px;
  background: #e6e6e6;
  padding: 3px 8px;
  border-radius: 3px;
}
.main-side-content .transaction-notification .notification-header button:not(:first-child) {
  margin-left: 10px;
}
.main-side-content .transaction-notification .notification-list .notification-stats {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  display: none;
}
.main-side-content .transaction-notification .notification-list .notification-list-container {
  position: relative;
  display: flex;
  overflow: hidden;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content {
  transition: 1s ease all;
  min-width: 100%;
  padding: 0px 5px;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card {
  padding: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
  color: black;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card a {
  font-weight: bold;
  position: relative;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: rgb(211, 145, 58);
  left: 0px;
  bottom: -2px;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-icon {
  background: #e6e6e6;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-icon img {
  width: 100%;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-card-details {
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-card-details .notification-message .message {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-card-details .notification-message .time {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 8px;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-card-details .notification-message .special-notif-message {
  margin-top: 5px;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-card-details .notification-transaction-details .status {
  font-size: 0.7rem;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-card-details .notification-transaction-details .pending {
  color: rgb(204, 0, 0);
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-card-details .notification-transaction-details .ongoing {
  color: #b35900;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-card-details .notification-transaction-details .completed {
  color: rgb(0, 190, 0);
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-card-details .notification-transaction-details .amount {
  font-weight: bold;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-card-details .notification-chart {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 5px;
  border-color: #d9d9d9;
  border-style: solid;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .notification-card .notification-card-details .notification-chart .chart-text {
  font-weight: bold;
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(255, 255, 255, 0.7);
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .special-notification {
  border-radius: 50px;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .special-notification .notification-icon {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ff3333;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .special-notification .notification-icon i {
  margin-top: -5px;
}
.main-side-content .transaction-notification .notification-list .notification-list-container .notification-content .special-notification .notification-card-details .notification-message .message {
  font-weight: bold;
}

.main-side-content:not(:last-child) {
  margin-bottom: 30px;
}

@media only screen and (max-width: 800px) {
  .main-side-content .action-card {
    width: 55%;
  }
}
@media only screen and (max-width: 669px) {
  .main-side-content .balance-card .balance-actions button {
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 520px) {
  .main-side-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-side-content .contents {
    width: 100%;
  }
  .main-side-content .balance-card {
    align-items: center;
  }
  .main-side-content .balance-card .balance-title {
    margin-top: 0px;
    font-weight: bold;
    font-size: 1rem;
    color: black;
  }
  .main-side-content .balance-card .balance {
    justify-content: center;
  }
  .main-side-content .balance-card .balance-actions {
    justify-content: center;
  }
  .main-side-content .action-card {
    margin-top: 20px;
  }
  .main-side-content .action-card .action-content {
    width: 100%;
  }
  .main-side-content .action-card .transaction-history {
    margin-left: 0px;
  }
  .main-side-content .transaction-notification {
    margin-top: 40px;
  }
  .d-mobile-none {
    display: none;
  }
  .main-side-content:not(:last-child) {
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=index.css.map */