
$default-color: black;
$default-text-color: white;
$default-padding: 10px;
$padding-one: 20px;
$padding-two: 30px;
$padding-three: 40px;
$max-width: 1100px;
$header-height: 60px;
$primary-color:  rgb(211, 145, 58);
$nav-color: rgb(27,28,33);

.main-side-content{
    width: 100%;
    display: flex;
    justify-content: space-between;

    h1{
        font-size: 1.5rem;
    }

    .last-update{
        font-size: 0.85rem;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, .7);

        .update-dot{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: darkgreen;
            margin-right: 4px;

        }
    }


    .contents{
        width: 45%;
    }

    .balance-card{

        .balance-title,
        .balance,
        .balance-actions{
            margin-top: 15px;
        }


        .balance-title{
            font-size: 0.9rem;
            color: rgba(0, 0, 0, .7);
        }

        .balance{

            .currency-icon{
                color: $primary-color;
            }
        }

        .balance-actions{
            display: flex;

            button{
                background: #e6e6e6;
                border: 2px solid #e6e6e6;
                padding: 10px 25px;
                border-radius: 10px;
            }

            .add-button{
                background: $default-color;
                color: $default-text-color;
            }

            button:not(:first-child){
                margin-left: 10px;
            }
        }

    }

    .action-card{
        // border: 1px solid red;

        .action-content{
            display: flex;
            width: 90%;
            // border: 1px solid red;
            padding: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
            border-radius: 5px;

            .action{
                display: flex;
                font-size: 0.85rem;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 7px;
                border: none;
                background: #f0f0f0;

                .icon{
                    margin-bottom: 5px;
                }

                .history-image{
                    padding: 4px;
                    width: 50px;
                    height: 50px;

                    .image{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }

                .history-text{
                    padding: 5px;
                }


            }

            .action-link{
                min-width: 60px;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
            }

            .action-link:not(:first-child){
                margin-left: 10px;
            }
        }

        .transaction-action{
            justify-content: space-between;
        }

        .transaction-history{
            margin-left: 10%;
            overflow-x: scroll;
            scrollbar-color: white;
            scrollbar-width: thin;
            scrollbar-track-color: rgba(255, 255, 255, .2);
        }

        .transaction-history::-webkit-scrollbar{
            height: 3px;
        }


        .transaction-history::-webkit-scrollbar-track{
            background: rgba(255, 255, 255, .1);
        }

        .transaction-history::-webkit-scrollbar-thumb{
            background: rgba(0, 0, 0, .15);
        }

        .action-content:not(:first-child){
            margin-top: 20px;
        }
    }

    .transaction-list{
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
        border-radius: 5px;
        font-size: 0.9rem;
        padding: 15px 0px;
        
        .transaction-list-header{
            padding: 0px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header-action-btn{
                display: flex;

                button{
                    background: #e6e6e6;
                    border: none;
                    font-size: 0.8rem;
                    border-radius: 3px;
                }

                button:not(:first-child){
                    margin-left: 15px;
                }
            }
        }

        .count{
            color: rgba(0, 0, 0, .7);
            margin-top: 10px;
            padding: 0px 15px;
        }

        .transactions{

            .transaction-card{
                display: flex;
                padding: 15px;
                align-items: center;
                justify-content: space-between;

                .transaction-card-details{
                    display: flex;
                    align-items: center;

                    .transaction-card-image{
                        width: 30px;
                        height: 30px;
                        overflow: hidden;
                        border-radius: 3px;
                        margin-right: 20px;
                    }
    
                    .transaction-card-text{
    
                        h4{
                            font-weight: bold;
                            color: $default-color;
                        }
    
                        p{
                            color: rgba(0, 0, 0, .7);
                        }
                    }
                }

                .price-tag{
                    display: block;
                    padding: 3px 5px;
                    background: #e6e6e6;
                    border-radius: 2px;
                }

                .withdrawn{
                    background: rgba(255, 51, 51, .2);
                    color: rgb(204, 0, 0);
                }

                .received{
                    background: rgba(51, 255, 51, .2);
                    color: rgb(0, 190, 0);
                }

            }

            .transaction-card:hover{
                background: rgba(255, 255, 255, .8);
                transition: 0.5s ease all;

            }
        }
    }
}

.main-side-content:not(:first-child){
    margin-top: 50px;
}