$primary-color: rgb(211, 145, 58);
$text-color-one: black;
$text-color-two: white;
$text-color-three: #060c7c;
$header-height: 70px;
$padding: 0px 5vw;
$padding-one: 10px 5vw;
$padding-two: 20px 5vw;
$padding-three: 30px 5vw;
$padding-four: 40px 5vw;
$padding-five: 50px 5vw;
$padding-six: 60px 5vw;
$padding-seven: 70px 5vw;
$padding-eight: 80px 5vw;
$padding-nine: 90px 5vw;
$single-measurement: 0px;
$single-measurement-one: 10px;
$single-measurement-two: 20px;
$single-measurement-three: 30px;
$single-measurement-four: 40px;
$single-measurement-five: 50px;
$single-measurement-six: 60px;
$single-measurement-seven: 70px;

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    img{
        width: 100%;
    }

    a{
        color: $text-color-three;
        position: relative;
    }

    a::after{
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background: $text-color-three;
        left: 0;
        bottom: -2px;
    }

    a:hover::after{
        transition: 0.5s ease all;
        width: 100%;
    }

    .login-container{
        position: relative;
        width: 90vw;
        // min-height: 90vh;
        max-width: 1300px;
        max-height: 657px;
        background: white;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
        border-radius: 10px;
        display: flex;
        overflow: hidden;

        .login-form-container{
            width: 40%;
            border-right: 1px solid rgba(0, 0, 0, .2);
            padding: $single-measurement-six ;

            .form-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                // border: 1px solid red;

                .logo{
                    min-width: 30px;
                    height: 30px;
                    background: rgba(0, 0, 0, .3);
                }

                .form-link{
                    // border: 1px solid red;
                    justify-self: flex-end;
                    
                    
                    ul{
                        display: flex;
                        list-style: none;
                        // border: 1px solid red;

                        li:not(:first-child){
                            margin-left: $single-measurement-two;
                        }
                    }
                }
            }

            .login-title{
                font-size: 1.2rem;
                margin-top: $single-measurement-three;
                color: rgba(0, 0, 0, .7);
            }

            .form-steps{
                width: 100%;
                position: relative;
                height: 30px;
                display: flex;
                align-items: center;
                margin-top: $single-measurement-two;

                .step-length{
                    width: 100%;
                    height: 8px;
                    background: #e6e6e6;
                    border-radius: 10px;
                    position: relative;

                    .step-percent{
                        width: 0%;
                        height: 100%;
                        background: $primary-color;

                    }
                }

                .steps{
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: #e6e6e6;

                }

                .active-step{
                    background: $primary-color;
                    color: $text-color-two;
                }

                #step-one{
                    left: 0px;
                }

                #step-two{
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                #step-three{
                    right: 0px;
                }
            }

            .login-form{

                .form-content{
                    display: flex;
                    flex-direction: column;
                    margin-top: $single-measurement-three;

                    label{
                        width: 100%;
                        font-size: 1rem;
                        font-weight: bold;
                        color: rgba(0, 0, 0, .7);
                    }

                    input:not([type="checkbox"]),
                    button{
                        width: 100%;
                        height: 40px;
                        border-radius: 10px;

                    }

                    input:not([type="checkbox"]){
                        margin-top: $single-measurement-two;
                        padding: 0px 10px;
                        border: 2px solid rgba(0, 0, 0, .3);

                    }

                    input:focus{
                        border-color: $text-color-one;

                    }

                    button{
                        border: 2px solid $text-color-one;
                        background: $text-color-one;
                        font-size: 1rem;
                        color: $text-color-two;
                        
                        .icon{
                            margin-left: 5px;
                        }
                    }

                    button:hover{
                        background: transparent;
                        transition: 0.5s ease all;
                        color: $text-color-one;
                    }

                    button:disabled{
                        background: #e6e6e6;
                        color: rgba(0, 0, 0, .5);
                        border: 2px solid #e6e6e6;
                    }


                    .password-shown{

                        .eye-slash{
                            display: none;
                        }
                    }

                    .password-container{
                        position: relative;
                        margin-top: $single-measurement-two;

                        input{
                            margin-top: 0px;
                        }

                        
                        button{
                            width: 35px;
                            height: 35px;
                            border-radius: 0px;
                            position: absolute;
                            top: 50%;
                            right: 2px;
                            background: transparent;
                            transform: translateY(-50%);
                            border: none;
                            
                            span{
                                color: rgba(0, 0, 0, .3);
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                top: 0px;
                                justify-content: center;
                                align-items: center;
                                // border: 1px solid red;
                            }
                        }

                        input:focus ~ button{

                            span{

                                color: $text-color-one;
                            }
                        }
                    }

                    .err{
                        color: red;
                        font-size: 0.9rem;
                        margin-top: 8px;
                        animation: 1s ease forwards;
                    }

                    .form-inner-container{
                        position: relative;
                        width: 100%;
                        // border: 1px solid red;
                        margin-top: $single-measurement-two;

                        input{
                            margin-top: 0px;

                        }
                    }

                    .loader{
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        border: 2px dashed rgba(0, 0, 0, .3);
                        border-radius: 50%;
                        right: 10px;
                        z-index: 9;
                        top: 50%;
                        transform: translateY(-50%);
                        animation: rotateContainer ease 1s infinite;
                        display: none;
                    }

                    .completed-search{
                        position: absolute;
                        right: 10px;
                        color: green;
                        z-index: 9;
                        top: 50%;
                        transform: translateY(-50%);
                        display: none;
                    }

                    .active-loader{
                        display: flex;
                    }

                    .completed{
                        display: flex;
                    }

                    @keyframes rotateContainer {

                        from{
                            transform: translateY(-50%) rotateZ(0deg);
                        }

                        from{
                            transform: translateY(-50%) rotateZ(-360deg);
                        }
                        
                    }

                    @keyframes shake {
                        0% { transform: translate(1px, 1px) rotate(0deg); }
                        10% { transform: translate(-1px, -2px) rotate(-1deg); }
                        20% { transform: translate(-3px, 0px) rotate(1deg); }
                        30% { transform: translate(3px, 2px) rotate(0deg); }
                        40% { transform: translate(1px, -1px) rotate(1deg); }
                        50% { transform: translate(-1px, 2px) rotate(-1deg); }
                        60% { transform: translate(-3px, 1px) rotate(0deg); }
                        70% { transform: translate(3px, 1px) rotate(-1deg); }
                        80% { transform: translate(-1px, -1px) rotate(1deg); }
                        90% { transform: translate(1px, 2px) rotate(0deg); }
                        100% { transform: translate(1px, -2px) rotate(-1deg); }
                      }
                }

                .school-search-result{
                    margin-top: $single-measurement-three;
                    max-height: 300px;
                    overflow-y: scroll;
                    padding: 10px;
                    scrollbar-width: thin;
                    scrollbar-track-color: #e6e6e6;
                    scrollbar-color: black;
                    // border: 1px solid red;

                    .school{
                        width: 100%;
                        // padding: 10px;
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        overflow: hidden;
                        max-height: 100px;
                        cursor: pointer;
                        // justify-content: space-between;
                        position: relative;

                        .custom-radio-btn{
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            border: 3px solid #e6e6e6;
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .btn{
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                background: transparent;
                            }

                        }

                        #selected-school{
                            opacity: 0;
                            position: absolute;

                        }
                        
                        .school-logo{
                            background: rgba(0, 0, 0, .1);
                            width: 100px;
                            height: 100px;
                            // border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img{
                                width: 50%;
                            }
                        }

                        .school-details{
                            max-width: calc(100% - 100px);
                            margin-left: $single-measurement-two;
                            margin-right: $single-measurement-one;

                            h3{
                                margin-top: 8px;
                                font-size: 1rem;
                            }

                            p{
                                margin-top: 5px;
                                color: rgba(0, 0, 0, .7);
                                font-size: 0.9rem;
                                font-style: italic;

                                .icon{
                                    margin-right: 5px;
                                }
                            }
                        }
                    }

                    .school:not(:first-child){
                        margin-top: $single-measurement-three;
                    }

                    .selected{
                        border: 2px solid $primary-color;
                        box-shadow: unset;

                        .school-details{

                            .custom-radio-btn{
                                background: $primary-color;

                                .btn{

                                    background: $primary-color;
                                }
                            }
                        }
                    }
                }

                .school-search-result::-webkit-scrollbar{
                    background:rgba(0, 0, 0, .1);
                    width: 5px;
                }

                .school-search-result::-webkit-scrollbar-track{
                    background: #e6e6e6;
                }
                
                .school-search-result::-webkit-scrollbar-thumb{
                    color: black;
                    background: black;
                    border-radius: 10px;
                }

                .school-search-container{
                    display: block;
                }

                .email-registration{
                    display: none;
                }

                .final-registration{
                    display: none;
                }

                .vertical-end{
                    align-items: flex-end;
                }

                .row{
                    flex-direction: row;

                    input,
                    label{
                        width: auto;
                        margin-top: 0px;
                    }

                    input{
                        margin-right: $single-measurement-one;
                    }

                    label{
                        font-weight: normal;
                    }
                }

            }

            .total-users{
                margin-top: $single-measurement-three;
                display: flex;
                align-items: center;

                .user-images{
                    min-width: 70px;
                    // border: 1px solid red;
                    margin-right: $single-measurement-one;
                    display: flex;


                    .images{
                        width: 40px;
                        height: 40px;
                        overflow: hidden;
                        border-radius: 50%;
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
                        background: $text-color-two;
                    }

                    .images:not(:first-child){
                        margin-left: -20px;
                    }

                }

                .user-stats{
                    h3{
                        font-size: 0.9rem;
                    }

                    p{
                        font-size: 0.6rem;
                    }
                }
            }


        }

        .login-image{
            width: 60%;

            img{
                width: auto;
                min-height: 100%;
            }
        }
    
    }

    .signup-container{
        max-height: 850px;
        margin: $single-measurement-five;
        
    }

    @media only screen and (max-width: 1050px){
        .login-container{


            .login-form-container,
            .login-image{
                width: 50%;
            }
            
        }
    
    }

    @media only screen and (max-width: 850px){
        .login-container{


            .login-form-container{
                padding: $single-measurement-six $single-measurement-four;
            }
            
        }
    
    }

    @media only screen and (max-width: 750px){
        .login-container{
            max-width: 500px;


            .login-form-container{
                border-right: none;
                width: 100%;
            }

            .login-image{
                display: none;
            }
            
        }
    
    }

    @media only screen and (max-width: 550px){

        .login-container{
            width: 90%;
            max-width: unset;
            // border: 1px solid red;
        }

        .signup-container{
            max-height: 1100px;
            margin: unset;
            
        }

    }
}
