$primary-color: #7cf18a;
$text-color-one: black;
$text-color-two: white;
$text-color-three: #000115;
$header-height: 70px;
$padding: 0px 5vw;
$padding-one: 10px 5vw;
$padding-two: 20px 5vw;
$padding-three: 30px 5vw;
$padding-four: 40px 5vw;
$padding-five: 50px 5vw;
$padding-six: 60px 5vw;
$single-measurement: 0px;
$single-measurement-one: 10px;
$single-measurement-two: 20px;
$single-measurement-three: 30px;
$single-measurement-four: 40px;
$single-measurement-five: 50px;
$single-measurement-six: 50px;